{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mon Parc d'Attraction</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <nav class="navbar">
            <a class="navbar-brand" href="#">Mon Parc d'attraction</a>
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#section1">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" href="#section2">À propos</a></li>
                <li class="nav-item"><a class="nav-link" href="#section3">Services</a></li>
                <li class="nav-item"><a class="nav-link" href="#section4">Contact</a></li>
            </ul>
        </nav>
        <div class="banner">
            <div class="banner-text">
                <h1>Bienvenue à Mon Parc d'Attraction</h1>
                <p>Explorez, amusez-vous et découvrez nos incroyables attractions !</p>
            </div>
        </div>
    
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
